{% extends "main.html.twig" %}

{% block header %}
{# Logo: #}
<img src="assets/img/logo-v2.png"/>

{# Zoekbalk: #}
<input type="text" placeholder="Zoeken">

{# Navigatie: #}
<div class="" id="Topnav">
    <a href="">Mijn Favorieten</a>
    <a href ="">Mijn Boodschappenlijst</a>
</div>

{# Background foto: #}

{% endblock %}


{% block content %}
    <div>Gerecht info blok</div>
    <div>Ingredienten, Bereidingswijze, Opmerkingen blok</div>
    
{% endblock %}